/* ===== Card Extrato ===== */
.cardExtrato {
  height: auto;
  border-radius: 8px;
  padding: 32px 24px;
  background: #ffffff;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100% !important;
}

.extratoHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.extratoTitle {
  font-family: "Inter";
  font-weight: 600;
  font-size: 25px;
  line-height:  100%;
  color: #000000;
}

.extratoActions {
  display: flex;
  gap: 15px;
}

.actionBtn {
  width: 40px !important;
  height: 40px !important;
  border-radius: 20px !important;
  background: #004D61 !important;
  color: #ffffff !important;
}

.extratoItem {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.txRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.txType,
.txType input {
  font-family: "Inter";
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: #47a138;
}

.txDate,
.txDate input {
  font-family:"Inter";
  font-weight: 400;
  font-size: 13px;
  line-height: 100%;
  color: #8b8b8b;
}

/* ⇢ modo NÃO-editável (linha na base) + base do modo editável */
.txValue,
.txValueEditable {
  width: 100%;
  height: 38px;
  padding: 8px 12px;
  font-family: "Inter";
  font-weight: 600;
  font-size: 16px;
  color: #000000;
  background: transparent;
  border-bottom: 1px solid rgba(71,161,56,.5);
}

/* ⇢ modo editável (borda em volta) */
.txValueEditable {
  border: 1px solid rgba(71,161,56,.5);
}

.botaoSalvar,
.botaoCancelar {
  width: 100px;
  height: 48px;
  border-radius: 8px;
  padding: 0 !important;
}

.botaoSalvar {
  background: #004D61 !important;
  color: #ffffff  !important;
  border: 2px solid #004D61;
}

.botaoCancelar {
  background: #ffffff !important;
  color: #004D61 !important;
  border: 2px solid #004D61 !important;
}
